In [ ]:
# Задача 3.1.
# Создайте класс матрицы (или таблицы).
# Требования к классу:
#   - каждая колонка является числом от 1 до n (n любое число, которые вы поставите!)
#   - в каждой ячейке содержится либо число, либо None
#   - доступы следующие методы матрицы:
#       * принимать новые значения, 
#       * заменять существующие значения, 
#       * выводить число строк и колонок.

# Пример матрицы 10 на 10 из единиц:
# [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
#  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
#  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
#  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
#  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
#  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
#  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
#  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
#  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
#  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

# Примечание! 
#   - новый класс не запрещено строить на базе существующих типов данных: списков, словарей и тд.
#   - отображать в таблице/матрице название колонки не обязательно!
#   - использовать готовые классы numpy.array() и pandas.DataFrame() запрещено!
#   - проявите фантазию :)

In [ ]:
class Table:
    def __init__(self, colnames: list):
        self.colnames = colnames
        self.rows = []

    def add_row(self, row: dict):
        if any(colname not in tuple(row) for colname in self.colnames):  # хотя бы один элемент не соответствует
            print('Такой колонки нет')
        else:
            self.rows.append(row)

    def get_column(self, colname):
        if (colname not in self.colnames):
            print('Такой колонки нет')
        return [r[colname] for r in self.rows]


    def sum(self, colname: str):
        if colname not in self.colnames:
          print('Неправильный формат')
        return sum([r[colname] for r in self.rows])



table1 = Table([1, 2])
table1.add_row({1: 10, 2: 20})
table1.add_row({1: 20, 2: 400})
table1.add_row({1: 30, 2: 600})
table1.add_row({1: 40, 2: 800})
print(table1.get_column(1))
print(table1.get_column(2))
print(table1.rows)

[10, 20, 30, 40]
[20, 400, 600, 800]
[{1: 10, 2: 20}, {1: 20, 2: 400}, {1: 30, 2: 600}, {1: 40, 2: 800}]

In [ ]:
# Задача 4.1.
# Домашнее задание на SQL

# В базе данных teacher создайте таблицу Students

# Структура таблицы: Student_Id - Integer, Student_Name - Text, School_Id - Integer (Primary key)

# Наполните таблицу следующими данными:

# 201, Иван, 1
# 202, Петр, 2
# 203, Анастасия, 3
# 204, Игорь, 4

# Напишите программу, с помощью которой по ID студента можно получать информацию о школе и студенте.

# Формат вывода:

# ID Студента:
# Имя студента:
# ID школы:
# Название школы:

In [ ]:
import sqlite3 as sql

# При необходимости (Удаление таблицы Students):
# cur.execute('DROP TABLE IF EXISTS Students')

with sql.connect('teatchers.db') as con:
    cur = con.cursor()
    cur.execute("""CREATE TABLE IF NOT EXISTS Students (
        Student_Id  INTEGER,
        Student_Name  TEXT,
        School_Id  INTEGER PRIMARY KEY
        )""")

# Добавление записей:

    # cur.execute(""" INSERT INTO Students VALUES(201, 'Иван', 1)""")
    # cur.execute(""" INSERT INTO Students VALUES(202, 'Петр', 2)""")
    # cur.execute(""" INSERT INTO Students VALUES(203, 'Анастасия', 3)""")
    # cur.execute(""" INSERT INTO Students VALUES(204, 'Игорь', 4)""")


    def find_students(value):
        cur.execute(f"""
        SELECT Students.Student_Id, Students.Student_Name, Students.School_Id, School.School_Name  FROM Students, School 
        WHERE Students.Student_Id == {value} AND Students.School_Id == School.School_Id""")
        result = cur.fetchall()

        print(f"""
    ID Студента: {result[0][0]}
    Имя студента: {result[0][1]}
    ID школы: {result[0][2]}
    Название школы: {result[0][3]}
    """)

    find_students(input('Введите ID студента '))

Введите ID студента 10

OperationalError: ignored